@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
main {
  display: flex;
  width: 70%;
  height: 85%;
  max-height: 750px;
  max-width: 1200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #0c0f14;
  padding: 2rem;
}

.hero-bg {
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  width: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding: 3rem;
}

.hero {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(63, 63, 63, 0.303);
  padding: 2.5rem;
  color: white;
}
.hero:only-child {
  height: auto;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .hero {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 6rem;
}

.days {
  font-size: 1rem;
}

.hero-center h2 {
  font-size: 1.19rem;
  margin-block: 5%;
}
.hero-center span {
  font-size: 1rem;
}

.hero-center p {
  font-size: 0.95rem;
}

.signin {
  position: relative;
  margin: 0;
  margin-top: auto;
  grid-row: span 4;
}

.signin-links {
  margin-top: 2%;
  font-weight: bold;
}

.page {
  padding: 5rem;
  width: 50%;
  height: 100%;
  display: grid;
  color: #fff;
}

header h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
header p {
  margin-bottom: 50px;
}

form {
  position: relative;
}
.page input {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  height: 2.5rem;
  width: 100%;
  margin-block: 10px;
  color: #fff;
}

input,
select {
  outline: none;
}

.page input:focus {
  border-color: #6267ae;
  background-color: #0c0f14;
}

.page label {
  font-size: 13px;
  font-weight: 400;
  color: rgb(207, 207, 207);
}

.form-control {
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 2em auto;
  gap: 0.5em;
  margin-block: 8px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin-block: 2px;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #fff;
  border-radius: 0.4em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
  padding: 5px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.55em;
  height: 0.55em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #6267ae;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

form a,
.signin-link {
  text-decoration: none;
  color: #6267ae;
  font-weight: bold;
}

.sign-in {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: rgb(207, 207, 207);
  margin-bottom: 25px;
}

.eye {
  position: absolute;
  margin-left: -32px;
  margin-top: 22px;
  font-size: 15px;
  font-weight: 300;
  color: #6267ae;
  cursor: pointer;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: #6267ae;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 35px -13px rgba(60, 65, 148, 0.694);
  -moz-box-shadow: 0px 0px 35px -13px rgba(60, 65, 148, 0.694);
  box-shadow: 0px 0px 35px -13px rgba(60, 65, 148, 0.694);
}

input[type="submit"]:hover {
  background-color: #4f5295;
}

footer {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer i {
  color: #fff;
  width: 15px;
  height: 15px;
}

footer a {
  padding: 10px;
  border-radius: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0c0f14 inset !important;
  -webkit-text-fill-color: #fff !important;
}
