@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fylo dark theme css */
@font-face {
  font-family: "Open sans";
  src: url("./fylo-dark-theme-landing-page-master/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url(./fylo-dark-theme-landing-page-master/Raleway-VariableFont_wght.ttf);
}

.underline-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  /* Adjust the gap between text and image as needed */
}

.underline-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  /* Adjust this value to increase space between underline and elements */
  width: 100%;
  height: 1px;
  /* Adjust the underline thickness */
  background-color: currentColor;
}

/* Fylo dark theme css end */

/* Github user search app css */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Custom autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply shadow-innerColor;
  -webkit-text-fill-color: inherit !important;
}