@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

main {
  width: 500px;
  max-width: 1200px;
  padding: 2rem;
}

main div {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

main input {
  width: 100%;
  padding: 15px;
  border: none;
}
main input:focus{
  outline: none;
}

.highlight {
  background-color: rgb(243, 154, 0);
  color: #fff;
}

main button {
  padding: 15px;
  border: none;
  background-color: rgb(243, 154, 0);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  overflow: auto;
}

ul>li {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

ul>li>a {
  color: rgb(243, 154, 0);
  height: 100%;
  text-decoration: none;
  margin-left: auto;
}