@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root,
  .theme-1 {
    --background-main: hsl(222, 26%, 31%);
    --background-toggle: hsl(223, 31%, 20%);
    --background-screen: hsl(224, 36%, 15%);
    --function-key-background: hsl(225, 21%, 49%);
    --function-key-shadow: hsl(224, 28%, 35%);
    --key-toggle: hsl(6, 63%, 50%);
    --key-toggle-shadow: hsl(6, 70%, 34%);
    --key: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --text-dark: hsl(221, 14%, 31%);
    --text-white: hsl(0, 0%, 100%);
  }


  .theme-2 {
    --background-main: hsl(0, 0%, 90%);
    --background-toggle: hsl(0, 5%, 81%);
    --background-screen: hsl(0, 0%, 93%);
    --function-key-background: hsl(185, 42%, 37%);
    --function-key-shadow: hsl(185, 58%, 25%);
    --key-toggle: hsl(25, 98%, 40%);
    --key-toggle-shadow: hsl(25, 99%, 27%);
    --key: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --text-dark: hsl(60, 10%, 19%);
    --text-white: hsl(0, 0%, 100%);
  }

  .theme-3 {
    --background-main: hsl(268, 75%, 9%);
    --background-toggle: hsl(268, 71%, 12%);
    --background-screen: hsl(268, 71%, 12%);
    --function-key-background: hsl(281, 89%, 26%);
    --function-key-shadow: hsl(285, 91%, 52%);
    --key-toggle: hsl(176, 100%, 44%);
    --key-toggle-shadow: hsl(177, 92%, 70%);
    --key: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --text-dark: hsl(198, 20%, 13%);
    --text-light-yellow: hsl(52, 100%, 62%);
    --text-white: hsl(0, 0%, 100%);
  }
}
