body {
    background: url("images/bg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    width: 100vw
}

.grid-1 {
    margin-right: auto;
    flex: 1;
}

.grid-2 {
    font-size: 10px;
    flex: 2;
}

.grid-3 {
    margin-left: 50px;
    flex: 1;
}

.grid-4 {
    flex: 5;
}