@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --main-width: 1440px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}


body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--rose-100);
  position: relative;
  transition: all 0.3s ease;
}

main {
  display: inherit;
  flex-direction: row;
  align-items: flex-start;
  padding: 6rem;
  gap: 3rem;
  max-width: var(--main-width);
  width: 100%;
}

main section {
  flex: 3.5;
  width: 100%;
}

main section h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: var(--rose-900);
}

main section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-content: center;
}

.items li {
  width: 100%;
  position: relative;
}

.items li > picture > img {
  /* shadow bottom stretch*/
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.3rem;
}

.item-image-border {
  border: 3px solid var(--red);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info small {
  color: var(--rose-400);
}

.info p {
  font-weight: 500;
  font-size: 15px;
  color: var(--rose-900);
}

.info strong {
  color: var(--red);
  font-size: 15px;

}

.items li .add-to-cart {
  background: var(--rose-50);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.items li .add-to-cart img {
  width: fit-content;
  margin-right: 2px;
}

.item-adder .inc-dcr,
.items li .add-to-cart {
  font-size: calc(70% + 0.1vw);
  font-weight: 500;
  border: 1px solid var(--rose-500);
  width: 60%;
  border-radius: 50px;
}

.item-adder {
  /* position: absolute; */
  /* top: 64%; */
  /* right: 19%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20%;
}

div.inc-dcr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.717rem 8px;
  background-color: var(--red);
  color: var(--rose-50);
}

.inc-dcr button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.inc-dcr button > i {
  /* font-size: 1.5rem; */
  color: var(--rose-50);
}

aside {
  background-color: var(--rose-50);
  flex: 1.5;
  height: auto;
  width: 100%;
  border-radius: 10px;
  color: var(--red);
  padding: 1.5rem;
  transition: all 0.3s ease;
}

aside h2 {
  margin-bottom: 1rem;
}

.cart {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.empty-state img {
  width: 30%;
}

.empty-state p {
  color: var(--rose-500);
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Initial hidden state */
.hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

/* Hover affects */
.items li .add-to-cart:hover {
  border-color: var(--red);
  color: var(--red);
  /* animation */
  transition: all 0.3s ease;
}

/* Cart items */
.cart-items,
.popup > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-items .item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

button.delete-item {
  background: none;
  color: var(--rose-300);
  border: 2px solid var(--rose-300);
  border-radius: 10px;
  padding: 0px 3px;
  height: auto;
  cursor: pointer;
  /* line-height: 0; */
}

button.delete-item:hover {
  color: var(--rose-900);
  border-color: var(--rose-900);
}


.cart-items .item p {
  font-size: 14px;
  color: var(--rose-900);
  font-weight: bold;
  margin-bottom: 4px;
}

.item strong {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  gap: 8px;
}

.item strong > span:nth-child(2) {
  color: var(--rose-400);
  font-weight: 500;
}

.item strong > span:nth-child(3) {
  color: var(--rose-500);
}

.cart-items .item button > img {
  width: 12px;
}

.hr {
  border: none;
  background-color: var(--rose-300);
  height: 1px;
  width: 100%;
}

.checkout .amount,
.confirm-amount {
  display: flex;
  justify-content: space-between;
  color: var(--rose-500);
  align-items: center;
}

.amount p,
.confirm-amount p {
  font-size: 15px;
  font-weight: 500;
}

.amount strong,
.confirm-amount strong {
  font-size: 25px;
  font-weight: 900;
  transition: all 0.3s ease;
}

.checkout article {
  background-color: var(--rose-100);
  padding: 0.8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 5px;
  margin-top: 1.5rem;
  gap: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.checkout button {
  background-color: var(--red);
  color: var(--rose-50);
  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1.5rem;
  transition: all 0.3s ease;

}

article.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.571);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: auto;
}

.popup > div {
  background-color: var(--rose-50);
  width: calc(var(--main-width) * 0.4);
  max-width: 500px;
  padding: 2rem;
  border-radius: 15px;
  gap: 0.5rem;
  margin: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.popup > div > img {
  width: 10%;
  margin-bottom: 1rem;
}

.popup > div > h1 {
  font-size: 2rem;
  color: var(--rose-900);
  /* margin-bottom: 1rem; */

}

.popup > div > p {
  font-size: 0.9rem;
  color: var(--rose-500);
  margin-bottom: 1rem;
}

.bill-items {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  background-color: var(--rose-100);
  padding: 1rem;
  border-radius: 10px;
  align-content: center;
  flex-wrap: wrap;
}

.bill-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 60px;
  gap: 0.7rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bill-items hr {
  width: 95%;
}

.bill-item img {
  /* width: 20%; */
  height: 100%;
  border-radius: 5px;
}

.bill-item .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: content;
}

.bill-item .item p {
  font-size: 14px;
  color: var(--rose-900);
  font-weight: bold;
  margin-bottom: 5px;
}


.bill-item .item strong {
  font-size: 14px;
}

.bill-item .item strong span:nth-child(1) {
  color: var(--red);
  font-weight: 900;
  margin-right: 8px;
}

.bill-item .item > span {
  color: var(--rose-500);
  font-size: 18px;
  font-weight: 900;
}

.confirm-amount {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.confirm-amount p {
  font-size: 14px;
  font-weight: 500;
}

.confirm-amount strong {
  font-size: 28px;
  font-weight: 900;
  color: var(--rose-900);
  transition: all 0.3s ease;
}

button.reset-btn {
  background-color: var(--red);
  color: var(--rose-50);
  width: 100%;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.animation {
  animation: fadeIn ease-in-out 1s forwards;
  /* 'forwards' keeps the animation at the end state */
}

/* Screen less than 1024 pixels */
@media (max-width: 1024px) {
  main {
    padding: 1.5rem;
  }

  section ul.items {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .items .item-adder {
    margin-top: -25%;
  }

  .items .inc-dcr {
    padding: 0.6rem;
    width: 55%;
  }

  .items .item-adder > button {
    width: 55%;
    font-size: 0.6rem;
  }

  .items .item-adder > button > img {
    width: 20%;
  }

  /* items list info all */
  .items li .info > small {
    font-size: 80%;
  }

  /* p tag */
  .items li .info > p {
    font-size: 14px;
  }

  main aside img {
    width: 50%;
  }

  main aside p {
    font-size: 14px;
    /* margin-bottom: 15px; */
  }

  .checkout button.confirm-btn {
    font-size: 13px;
    padding: 12px 20px;
  }

  .checkout article {
    font-size: 11px;
  }

  .checkout article img {
    width: 10%;
  }

  /* Popup redesign all css for this screen size */
  article.popup > div {
    width: 45%;
    padding: 1.5rem;
    gap: 0.5rem;
  }

}



/* Tablet screen */
@media (min-width: 501px) and (max-width: 1023px) {
  main {
    padding: 1.5rem;
  }

  main section {
    flex: 3;
  }

  main aside {
    flex: 2;
  }

  main section ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .item-adder {
    margin-top: -25%;
  }

  /* items list info all */
  .items li .info > small {
    font-size: 70%;
  }

  .items .item-adder .inc-dcr {
    padding: 0.5rem;
    width: 55%;
    font-size: 0.7rem;
  }

  .items .item-adder .inc-dcr button {
    height: auto;
  }

  /* p tag */
  .items li .info > p {
    font-size: 13px;
  }

  .items li .info > strong {
    font-size: 14px;
  }

  .items li .item-adder > button {
    width: 60%;
    font-size: 0.6rem;
    padding: 0.5rem;
  }

  .items li button.add-to-cart > img {
    width: 18%;
  }

  /* .items .item-adder .inc-dcr button {
    padding: 0;
  } */

  .items .item-adder button.inc-dcr span {
    font-size: 11px;
  }

  aside img {
    width: 40%;
  }

  aside p {
    font-size: 12px;
    /* margin-bottom: 20px; */
  }

  .cart-items .item p {
    font-size: 12px;
  }

  .cart-items .item strong {
    font-size: 12px;
  }

  .cart-items .delete-item {
    padding: 0px 3px;
  }


  .checkout button.confirm-btn {
    font-size: 13px;
    padding: 12px 20px;
  }

  .checkout article {
    font-size: 11px;
  }

  .checkout article img {
    width: 10%;
  }

  /* Popup redesign all css for this screen size */
  article.popup > div {
    width: 45%;
    padding: 1.5rem;
    gap: 0.5rem;
  }

  article.popup > div > img {
    width: 10%;
    margin-bottom: 1rem;
  }

  article.popup > div > h1 {
    font-size: 1.5rem;
  }

  article.popup > div > p {
    font-size: 0.7rem;
    color: var(--rose-500);
    margin-top: -0.5rem;
  }

  article.popup .bill-items {
    padding: 0.5rem;
  }

  article.popup .bill-item {
    height: 50px;
  }

  article.popup .bill-item .item p {
    font-size: 12px;
    margin-bottom: 0.2rem;
  }

  article.popup .bill-item .item strong {
    font-size: 12px;
  }

  article.popup .bill-item .item > span {
    font-size: 16px;
  }

  article.popup .confirm-amount p {
    font-size: 12px;
  }

  article.popup .confirm-amount strong {
    font-size: 22px;
  }
}

/* Mobile screen */
@media (max-width: 500px) {
  main {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  main section ul.items {
    grid-template-columns: 1fr;
  }

  main section,
  main section h1 {
    padding: 2rem;
  }

  main section h1 {
    margin-bottom: 4rem;
  }

  .items .item-adder {
    margin-top: -13%;
  }

  .items .item-adder button {
    width: 55%;
    font-size: 1.2rem;
  }

  .items .item-adder > button > img {
    width: 15%;
  }

  .items .inc-dcr {
    padding: 0.6rem 5px;
    width: 55%;
    font-size: 18px;
  }


  /* p tag */
  .items li .info > p {
    font-size: 1.6rem;
  }

  /* items info small tag = category name */
  .items li .info > small {
    font-size: 1rem;
  }

  .items li .info > strong {
    font-size: 1.2rem;
  }

  main aside {
    height: 60%;
    padding: 2rem;
  }

  aside h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  main aside .cart {
    padding: 0;
  }

  aside .empty-state img {
    width: 50%;
    margin-bottom: 2rem;
  }

  aside .empty-state p {
    font-size: 1.2rem;
  }

  .cart-items .item p {
    font-size: 1.2rem;
  }

  .cart-items .item strong {
    font-size: 1rem;
  }

  .cart-items .delete-item {
    padding: 1px 5px;
    border-radius: 500px;
  }

  .cart-items .delete-item i {
    font-size: 1.2rem;
  }

  .checkout .amount p,
  .checkout article {
    font-size: 17px;
  }

  .checkout article img {
    width: 10%;
  }

  .checkout > button.confirm-btn {
    font-size: 1.3rem;
    padding: 15px 20px;
  }

  article.popup {
    padding: 0;
    align-items: flex-end;
  }

  article.popup > div {
    width: 100%;
    max-height: 90%;
    padding: 1.5rem;
    gap: 0.5rem;
    margin: 0;
    border-radius: 10px 10px 0 0;
  }
}