body {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to top left, rgb(43, 255, 0), rgb(134, 247, 132));
}