@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --desaturated-blue: hsl(212, 27%, 19%);
  --v-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --font-barlow: 'Barlow', sans-serif;
  --font-fraunces: 'Fraunces', serif;
}

main {
  background: url('images/desktop/image-header.jpg') no-repeat center center/cover;
  height: 95vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 3rem;
  color: white;

}

.hero h1 {
  font-family: var(--font-fraunces);
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-family: var(--font-barlow);

}

nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  font-family: var(--font-barlow);
}

nav ul {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

nav ul li:last-child a {
  padding: 1rem 1.8rem;
  border-radius: 50px;
  background-color: white;
  color: var(--dark-desaturated-cyan);
  transition: all 0.3s ease;
}

nav ul li:last-child a:hover {
  background-color: rgba(255, 255, 255, 0.331);
  color: white;
}

header > img {
  width: 200px;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article div {
  padding: 12rem;
}

article div h2 {
  font-family: var(--font-fraunces);
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--desaturated-blue);
  margin-bottom: 1rem;
}

article div p {
  font-family: var(--font-barlow);
  font-size: 1.4rem;
  margin-top: 3rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2rem;

}

article div a {
  font-family: var(--font-fraunces);
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--desaturated-blue);
  font-weight: 900;
  transition: color 0.3s ease;
  position: relative;
}

article div a::after {
  position: absolute;
  content: '';
  background-color: var(--soft-red);
  opacity: 0.3;
  z-index: -9;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  height: 10px;
}

article div a:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease;
}

article:nth-child(1) div {
  grid-row-start: 1;
  grid-column-start: 1;
}

article:nth-child(1) div a::after {
  background-color: var(--yellow);
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.service div {
  text-align: center;
  height: 80vh;
  padding: 10% 27%;
  line-height: 1.6;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.graphic-design {
  color: var(--dark-desaturated-cyan);
  background: url('images/desktop/image-graphic-design.jpg') no-repeat center center/cover;
}

.service div h2 {
  font-size: 2.5rem;
  font-family: var(--font-fraunces);
}

.service div p {
  font-family: var(--font-barlow);
  font-size: 1.2rem;
}

.photography {
  color: var(--dark-blue);
  background: url('images/desktop/image-photography.jpg') no-repeat center center/cover;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 3rem;
}

.testimonials > h2 {
  grid-column: span 3;
  text-align: center;
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
  color: var(--grayish-blue);
  margin-block: 4rem 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  /* padding: 0rem; */
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial p.pg {
  font-family: var(--font-barlow);
  color: var(--v-dark-grayish-blue);
  margin-block: 2rem 3rem;
}

.testimonial p.name {
  font-family: var(--font-fraunces);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--desaturated-blue);
}

.testimonial p.title {
  font-family: var(--font-barlow);
  color: var(--grayish-blue);
  font-size: 0.9rem;
  margin-block: 0.5rem 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 600px;
}

.gallery picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 60vh;
  background-color: #90d4c5;
  color: var(--dark-desaturated-cyan);
  font-family: var(--font-barlow);
}

footer > img {
  width: 206px;
  height: 36px;
}

footer ul {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin-bottom: 40px;
}

footer ul a {
  text-decoration: none;
  color: var(--dark-desaturated-cyan);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-barlow);
  letter-spacing: 1px;
}

footer div {
  display: inherit;
  gap: 1rem;
}

footer div img {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

/* Mobile responsive */
@media (max-width: 768px) {
  main {
    background: url('images/mobile/image-header.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 80vh;
  }

  .hero {
    padding: 2rem;
  }

  .hero h1 {
    font-size: 2.5rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  header {
    padding: 2rem 1rem;
    position: relative;
  }

  header > img {
    width: 120px;
  }

  header > button {
    background: none;
    border: none;
    cursor: pointer;
  }

  nav {
    display: none;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 70px;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 3rem;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  nav ul::after {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 30px solid white;
  }

  nav ul li a {
    color: var(--dark-grayish-blue);
  }

  nav ul li:last-child a {
    padding: 0.8rem 1.5rem;
    background-color: var(--yellow);
  }

  nav ul li:last-child a:hover {
    background-color: var(--soft-red);
  }

  article {
    display: flex;
    flex-direction: column;
  }

  article img {
    height: 100%;
  }

  article div {
    padding: 5rem 1.1rem;
    text-align: center;
  }

  article div h2 {
    font-size: 2rem;
  }

  article div p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin-block: 2rem;
  }

  article div a {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .service {
    display: flex;
    flex-direction: column;
  }

  .graphic-design {
    background: url('images/mobile/image-graphic-design.jpg') no-repeat center center/cover;
    height: 100%;
  }

  .photography {
    background: url('images/mobile/image-photography.jpg') no-repeat center center/cover;
  }

  .service div {
    padding: 4.5rem 0.3rem;
    height: 95vh;
  }

  .service div h2 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1.8rem;
  }

  .service div p {
    font-size: 1.05rem;
    line-height: 150%;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 4.5rem 1rem;
  }

  .testimonials > h2 {
    font-size: 0.9rem;
    margin-block: 0;
  }

  .testimonial {
    width: 100%;
  }

  .testimonial img {
    width: 70px;
    height: 70px;
    margin: 0;
  }

  .testimonial p.name {
    font-size: 1.2rem;
  }

  .testimonial p.pg {
    font-size: 1.2rem;
    line-height: 170%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }

  .gallery picture img {
    height: 100%;
    object-fit: cover;
  }

  footer {
    height: 55vh;
    gap: 2rem;
    color: var(--dark-moderate-cyan);
  }

  footer > img {
    width: 150px;
  }

  footer ul {
    gap: 2rem;
  }

  footer div img {
    width: 35px;
    height: 35px;
  }
}