@import 'tailwindcss';

@theme {
	--color-primary: #7c5dfa;
	--color-secondary: #9277ff;
	--color-dark-1: #1e2139;
	--color-dark-2: #252945;
	--color-dark-3: #0c0e16;
	--color-dark-4: #141625;
	--color-light-primary: #141625;
	--color-light-1: #dfe3fa;
	--color-light-2: #888eb0;
	--color-light-3: #7e88c3;
	--color-light-bg: #f8f8fb;
	--color-accent-red: #ec5757;
	--color-accent-pink: #ff9797;
}

[data-theme='dark'] {
	--color-primary: #9277ff;
	--color-light-bg: #0c0e16;
	--color-light-1: #dfe3fa;
	--color-dark-1: #dfe3fa;
	--color-light-primary: #f8f8fb;
}
